/*                       =============================
   ----------------------        RESPONSIVENESS       -------------------------------------
                         ============================= */
@media not screen and (min-width:575px){
    header{
        margin: 0;
        padding-bottom: 20px;
        width: 100%;
        height: fit-content;
        background: linear-gradient(60deg,rgb(48, 1, 48),rgb(83, 2, 83),rgb(255, 0, 128));
        color: rgb(173, 173, 173);
    }
    header h1{
        font-size: 46px;
        padding-top: 20px;
        text-align: center; 
        color:white;
    }
    header p{
        font-size: 10px;
        padding-left: 20px;
        padding-right: 10px;
    }

    section{
        font-size: 14px;
        /* padding:20px; */
    }

    section h2{
        font-size: 30px;
        padding: 20px 0px;
        color: #2175f3;
    }
    section li{
        padding-left: 1em;
        padding-bottom: 5px;
    }

    /*====================================================
                      SKILLS
======================================================*/

#skills {
    background-image: url("../img/build.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#skills h2{
    color: white;
}

.skill-cover {
    background-color: rgba(31, 31, 31, 0.3); 
}

.skill-cover h3{
  font-family: "hind", sans-serif;
  font-size: 35px;
  margin-bottom: 40px;
}

.skill-item {
    padding: 20px 0;
    margin-bottom: 30px;
    background: rgba(144, 144, 144, 0.78);
}

.skill-item i {
    color: #1262da;
}

.skill-item h2 {
    color: #fff;
    font-size: "hind", sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 1px;
}

.skill-item p {
    color: #fff;
    font-family: "hind", sans-serif;
    /*text-transform: uppercase;*/
    font-weight: 300;
    margin-top: 0;
}
}

/* ===========================================
    RESPONSIVENESS FOR VIEWPORT (991px)
   =========================================== */
@media not screen and (max-width:991px) and (max-width:576px){
    header{
        margin: 0;
        padding-bottom: 20px;
        width: 100%;
        height: fit-content;
        background: linear-gradient(60deg,rgb(48, 1, 48),rgb(83, 2, 83),rgb(255, 0, 128));
        color: rgb(173, 173, 173);
    }
    header h1{
        font-size: 66px;
        padding-top: 20px;
        text-align: center; 
        color:white;
    }
    header p{
        font-size: 14px;
        padding-left: 22px;
        padding-right: 10px;
    }

    section{
        font-size: 14px;
        /* margin-left: 30px; */
    }

    section h2{
        font-size: 45px;
        padding: 20px 0px;
        color: #2175f3;
    }
    section li{
        padding-left: 1em;
        padding-bottom: 10px;
    }

    /*====================================================
                      SKILLS
======================================================*/

#skills {
    background-image: url("../img/build.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.skill-cover {
    background-color: rgba(31, 31, 31, 0); 
}

.skill-cover h3{
  font-family: "hind", sans-serif;
  font-size: 35px;
  margin-bottom: 40px;
}

.skill-item {
    padding: 20px 0;
    margin-bottom: 30px;
    background: rgba(144, 144, 144, 0.78);
}

.skill-item i {
    color: #1262da;
}

.skill-item h2 {
    color: #fff;
    font-size: "hind", sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 1px;
}

.skill-item p {
    color: #fff;
    font-family: "hind", sans-serif;
    /*text-transform: uppercase;*/
    font-weight: 300;
    margin-top: 0;
}
}
